<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                justify-content: center;
                display: flex;
                flex-direction: row;
            }
            .box, .subbox {
                text-align: center;
                justify-content: space-evenly;
                border: 1px ridge rgb(39, 35, 35);
                background-color: azure;
                margin : 5px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .box {   
                width: 100%;
            }
            .subbox {
                width: auto;
            }
            .sliders {
                text-align: center;
                flex-direction: column; 
                display: flex;
            }
            img {
                width: 100%;
                height: auto;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rendu off-screen</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class = "box">
            <img src="" class="img-responsive" id="image">
        </div>
        <div class="box">
            <div class="subbox">
                <h1>
                    Rendu off-screen
                </h1>
            </div>
            <div class="subbox">
                <label for="meshChooser">Choix du mesh</label>
                <select class="content" id="meshChooser" onchange="meshChanged()">
                    <option value="suzanne">Suzanne</option>
                    <option value="happyBouddha">Happy Buddha</option>
                    <option value="nefertiti">Nefertiti</option>
                    <option value="lucy">Lucy</option>
                </select>
                <button type="button" onclick="reload()">Recharger le mesh</button> 
            </div>
            <div class="subbox">
                <label for="resChooser">Choix de la résolution</label>
                <select class="content" id="resChooser" onchange="resChanged()">
                    <option value='{"width":960, "height":540}'>960x540</option>
                    <option value='{"width":1280, "height":720}'>1280x720</option>
                    <option value='{"width":1920, "height":1080}'>1920x1080</option>
                    <option value='{"width":2560, "height":1440}'>2560x1440</option>
                    <option value='{"width":3840, "height":2160}'>3840x2160</option>
                </select>
            </div>
            <div class = "subbox">
                <div class = "sliders">
                    <div class="slidecontainer">
                        <label style="margin-top: 9px;" for="Yaw">Yaw :</label>
                        <input type="range" min=-180 max=180 step="1" id="yaw" value=<%= yaw %> oninput="sliderChanged()">
                    </div>
                    <div class="slidecontainer">
                        <label style="margin-top: 9px;" for="Pitch">Pitch :</label>
                        <input type="range" min=-89 max=89 step="1" id="pitch" value=<%= pitch %> oninput="sliderChanged()">
                    </div>
                    <div class="slidecontainer">
                        <label style="margin-top: 9px;" for="Radius">Radius :</label>
                        <input type="range" min=0.1 max=10.0 step="0.1" id="radius" value=<%= radius %> oninput="sliderChanged()">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <iframe name='formRes' style="display: none;"></iframe>
    <script>

        // Connection au serveur
        let socket = io.connect('http://' + window.location.hostname + ':' + window.location.port);

        // Apellée lorsque la connexion est établie avec le serveur NodeJS
        function connectionEtablished() {
            socket.emit('connectionEtablished', 
                document.getElementById('meshChooser').value,
                document.getElementById('resChooser').value,
                document.getElementById('yaw').value,
                document.getElementById('pitch').value,
                document.getElementById('radius').value);
        }

        // Apellée à chaque changement au niveau des curseurs
        function sliderChanged() {
            socket.emit('sliderChanged', 
                document.getElementById('yaw').value, 
                document.getElementById('pitch').value, 
                document.getElementById('radius').value);
        }

        // Appelée à chaque changement du mesh
        function meshChanged() {
            socket.emit('meshChanged', document.getElementById('meshChooser').value);
        }

        // Appelé à chaque rechargement d'un mesh
        function reload(){
            socket.emit('meshChanged', document.getElementById('meshChooser').value, document.getElementById('resChooser').value);
        }

        // Appelée à chaque changement de résolution
        function resChanged() {
            socket.emit('resChanged', document.getElementById('resChooser').value);
        }

        // Affichage de l'image dès qu'elle est reçue
        socket.on('imageEvent', (data) => {
            // Types MIME : jpeg, png, webp, bmp, gif
            document.getElementById("image").src = "data:image/jpeg;base64," + data;
        });

        // Affichage d'une image d'attente 
        socket.on('wait', () => {
            document.getElementById("image").src = "wait.jpg";
        });

        // Stress test
        // var x = 0;
        // window.setInterval(function(){
        //     x = (x + 1) % 10;
        //     document.getElementById("xPos").value = x;
        //     sendChange();
        // }, 10);

        connectionEtablished();
        
    </script>
</html>